.container-profile1 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  max-width: 500px;
  width: 500px;
}

.editform-cons {
    padding: 30px;
    width: 500px;
  border-radius: 48px;
  background: #fdf4f4;
  box-shadow: 29px 29px 51px #e8e2e2, -29px -29px 51px #ffffff;
}

.data-profile {
  font-family: "Poppins", sans-serif !important;
  /* background-color: white; */
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.site-layout {
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  align-items: center;
}

.profile-title {
  width: 200px;
  font-weight: bold;
}
